alembic==1.4.0
aniso8601==8.0.0
astroid==2.2.5
attrs==19.1.0
autopep8==1.4.4
backcall==0.1.0
blinker==1.4
certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.1
decorator==4.4.0
Flask==1.1.1
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-RESTful==0.3.7
flask-restplus==0.13.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
gunicorn==20.0.4
idna==2.8
imageio==2.6.1
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.1
jsonschema==3.0.2
jupyter-core==4.5.0
lazy-object-proxy==1.4.2
Mako==1.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
moviepy==0.2.2.11
nbformat==4.4.0
numpy==1.18.1
oauthlib==3.1.0
parso==0.5.1
passlib==1.7.1
pickleshare==0.7.5
Pillow==7.0.0
prompt-toolkit==2.0.9
psycopg2==2.8.3
pycodestyle==2.5.0
Pygments==2.4.2
PyJWT==1.7.1
pylint==2.3.1
pyrsistent==0.15.4
PySocks==1.7.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2019.3
requests==2.11.1
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
six==1.12.0
SQLAlchemy==1.3.8
tqdm==4.41.1
traitlets==4.3.2
tweepy==3.8.0
twilio==6.35.2
typed-ast==1.4.0
urllib3==1.25.7
wcwidth==0.1.7
Werkzeug==0.15.5
wrapt==1.11.2
WTForms==2.2.1
