{% extends 'authentication_parent.html' %}

{% block content %}
<p> reset password </p>
<!-- reseter password -->
<div class="form-group row">
    <label for="reseter_password" class="col-sm-2 col-form-label">Email</label>
    <div>
        <input name="inputed_user_name" type="email" class="form-control" id="reseter_password" placeholder="abc@gmail.como">
    </div>
</div>
<!-- reseter new password -->
<div class="form-group row">
    <label for="reset_password" class="col-sm-2 col-form-label">Password</label>
    <div>
        <input name="inputed_user_name" type="password" class="form-control" id="reset_password" placeholder="********">
    </div>

<!-- reseter new password -->
<div class="form-group row">
    <label for="confirm_reset_password" class="col-sm-2 col-form-label">Retype Password</label>
    <div>
        <input name="inputed_user_name" type="password" class="form-control" id="confirm_reset_password" placeholder="********">
    </div>

{% endblock %}