{% extends 'parent.html' %}
{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">month</th>
        <th scope="col">name</th>
        <th scope="col">basic_salary </th>
        <th scope="col">benefits</th>
        <th scope="col">gross_salary</th>
        <th scope="col">taxable_income</th>
        <th scope="col">nssf_contribution</th>
    
        <th scope="col">nhif_contribution</th>
        <th scope="col">payee</th>
        <th scope="col">total_tax_payable</th>
        <th scope="col">net_salary</th>
     
      </tr>
    </thead>
    <tbody>
      {% for success_all_emps in success_all_emps %}
      <tr>
        <th scope="row">{{success_all_emps.id}}</th>
        <td>{{success_all_emps.payroll__.id}}</td>
        <td>{{success_all_emps.employee_name}}</td>
        <td>basic_salary</td>
        <td>benefits</td>
        <td>gross_salary</td>
        <td>taxable_income</td>
        <td>nhif_contribution</td>
        <td>nssf_contribution</td>
        <td>payee</td>
        <td>total_tax_payable</td>
        <td>net_salary</td>
        
      </tr>
      {% endfor %}

    </tbody>
  </table>


{% endblock %}