{% extends 'parent.html' %}
{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">month</th>
        <th scope="col">name</th>
        <th scope="col">basic_salary </th>
        <th scope="col">benefits</th>
        <th scope="col">gross_salary</th>
        <th scope="col">taxable_income</th>
        <th scope="col">nssf_contribution</th>
        <th scope="col">nhif_contribution</th>
        <th scope="col">payee</th>
        <th scope="col">total_tax_payable</th>
        <th scope="col">net_salary</th>
     
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <th scope="row">{{fetch_payroll.id}}</th>
        <td>now..</td>
        <td>{{fetch_payroll.employee__.employee_name}}</td>
        <td>{{fetch_payroll.basic_salary}}</td>
        <td>{{fetch_payroll.benefits}}</td>
        <td>{{fetch_payroll.gross_salary}}</td>
        <td>{{fetch_payroll.taxable_income}}</td>
        <td>{{fetch_payroll.nssf_contribution}}</td>
        <td>{{fetch_payroll.nhif_contribution}}</td>
        <td>{{fetch_payroll.payee}}</td>
        <td>{{fetch_payroll.total_tax_payable}}</td>
        <td>{{fetch_payroll.net_salary}}</td>
        
      </tr>
     

    </tbody>
  </table>


{% endblock %}